.characters {
    background:no-repeat url(../../img/background.svg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
    .heroes {
        display: flex;
        justify-content: space-around;
        height: 800px;

        a{
            text-decoration: none;

            &:hover {
                cursor: url('../../img/ui/knight-cursor-select.png'), auto;
                transform: scale(110%);
            }
        }
        .heroesCard {
            background-image: url('../../img/ui/plate.svg');
            background-repeat: no-repeat;
            width: 450px;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            position: relative;
            top: 25%;
            padding:2%;
    
            li {
                list-style-type: none;
                line-height: 1.6rem;
                text-shadow: 2px 2px 2px black;
            }
        }
    }
    
    h1 {
        font-family: 'Jim Nightshade';
        text-align: center;
        color: #F79500;
        font-size: 4rem;
        text-shadow: 10px 5px 20px rgb(0, 0, 0);
        position: relative;
        top: 50%;
        display: flex;
        justify-content: center;
    }

    .hero {
        text-shadow: 2px 2px 2px black;
        color: #F79500;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgHero {
        margin-top: 10px;
        width: 200px;
        height: 200px;
        opacity: 0.8;
    }
    
    .heroSkills {
        border-bottom:  solid 2px #F79500;
        color: #F79500;
        font-size: 1.1rem;
        text-shadow: 2px 2px 2px black;
        margin: 20px;
        width: 300px;
        
        h2 {
            text-align: center;
            font-family: 'Jim Nightshade';
            font-size: 2rem;
            margin: 0%;
        }
    }

    .profil {
        border-top: solid 2px #F79500;
        border-bottom:  solid 2px #F79500;
        margin-top: 20px;
        margin-bottom: 8px;
        width: 300px;

        h2 {
            text-align: center;
            font-family: 'Jim Nightshade';
            font-size: 2rem;
            margin: 0;
        }
    }

}
