.concept{
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:no-repeat url(../../img/background.svg);
    background-size: cover;
    .conceptParchment{
        width: 100%;
        .parchmentLeft {
            margin-right: -60px;
        }
        .parchmentRight {
            margin-left: -60px;
        }
        .gameStoryParchment {
            max-width: 1300px;
        }
        .text {
            height: 550px;
        }
        img {
            height: 650px;
        }
    }
    button {
        animation: buttonConcept 4s ease-in-out;
      }
}

@keyframes buttonConcept{
    from {opacity: 0;}
    88% {opacity: 0;}
    to {opacity: 1;}
}
