.concept{
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:no-repeat url(../../img/background.svg);
    background-size: cover;
    .conceptParchment{
        width: 100%;
    }
}