.gameBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(10px);
    background-size: cover;
}

.game {
      background-repeat: no-repeat;
      background-size: contain;
      aspect-ratio: 16 / 9;
      max-height: 100vh;
      margin: auto;
}
