@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;900&family=Press+Start+2P&display=swap');

.home { 
    display: flex;
    background: no-repeat url(../../img/background/mainbg/bg.svg);
    background-size: contain;
    aspect-ratio: 16 / 9;
    max-height: 100vh;
    margin: auto;

    a {
      margin: auto 0;
    }

    .blockStart {
        width: 40%;
        margin: 50px 90px;
        border: 2px solid #F79500;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #5D349270;
        opacity: 90%;
    }

    .title {
  text-align: center;
  color: #F79500;
  font-family: 'Cinzel Decorative';
      h1  {
        font-size: clamp(12px, 8vh, 60px)
      }
}
    .halogo {
        width: 30%;
        height: 20vh;
        z-index: 5;
        position: relative;

        .logo{
            width: 100%;
        }
        
        #halo {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            background-color: #fff;
            box-shadow:
              0 0 60px 30px #fff,
              0 0 100px 60px #f0f,
              0 0 140px 90px #0ff;
            animation: 2s ease-in .1s infinite alternate irradiate;
            z-index: -1;
          }
    } 
}



@keyframes irradiate {
    from {  
      box-shadow:
      0 0 60px 30px #fff,
      0 0 100px 60px #f0f,
      0 0 140px 90px #0ff; 
    }
    to {
      box-shadow:
      0 0 40px 10px #fff,
      0 0 30px 20px #f0f,
      0 0 100px 50px #0ff; 
    }
  }
  