.containerContact {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../../img/background/contactbg/2203_w022_n001_566b_p15_566.png);
    background-size: cover;
    
  
}
