@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.GameWonButton {
    display: flex;
    flex-direction: column;
    border: 4px solid #EDC90E;
    background-color: rgba(108, 28, 99, 0.6);
    height: 35vh;
    width: 25vh;
   
   .book {
        margin-top: 3vh;
        height: 18vh;
        transform: rotate(-25deg);
    }

    a {
        display: flex;
        justify-content: center;
        margin-top: 4vh;
        text-decoration: none;
    }
        button {
        border: none;
        background:none;
        color: #EDC90E;
        font-family: 'Cinzel Decorative', cursive ;
        font-size: 4vh;
        font-weight: bold;
        cursor: url('../../img/ui/knight-cursor-select.png'), auto;
        
    }
}
