.gameHeaderSound {
    width: 30px;
    height: 50px;
    margin-right: 30px;
    display: flex;
    gap: 5px;
    
    .soundOnOff, .volumeEmpty, .volumeFull {
        cursor: url('../../img/ui/knight-cursor-select.png'), auto;
        width: 30px;
    }

    .volumeEmpty, .volumeFull {
        opacity: 0;
    }
}

.gameHeaderSound:hover {
    animation: .5s ease-in-out slidein forwards;

    #soundIcon0 {
        animation: .5s ease-in-out .1s sliderpop forwards;
    }
    #soundIcon1 {
        animation: .5s ease-in-out .2s sliderpop forwards;
    }
    #soundIcon2 {
        animation: .5s ease-in-out .3s sliderpop forwards;
    }
    #soundIcon3 {
        animation: .5s ease-in-out .4s sliderpop forwards;
    }
    #soundIcon4 {
        animation: .5s ease-in-out .5s sliderpop forwards;
    }
}

@keyframes slidein {
    from { width: 30px; }
    to   { width: 200px; }
}

@keyframes sliderpop {
    from { opacity: 0; margin-top: -30px; }
    to   { opacity: 1; margin-top: 0; }
}