@mixin gameHeaderButtons {
    width: 30px;
    height: 30px;
    cursor: url('../../img/ui/knight-cursor-select.png'), auto;
}

.gameHeaderMenu {
    @include gameHeaderButtons;
    float: right;
    margin-left: 10px;

    .contactButton {
        margin-top: 10%;
    }
}


.gameHeaderSound {
    @include gameHeaderButtons;
    display: flex;
    gap: 5px;
    
    .soundOnOff, .volumeEmpty, .volumeFull {
        width: 30px;
    }

    .volumeEmpty, .volumeFull {
        opacity: 0;
        display: none;
    }
}

.gameHeaderSound:hover {
    animation: .5s ease-in-out slidein forwards;

    .volumeEmpty, .volumeFull {
        display: block;
    }

    #soundIcon0 {
        animation: .5s ease-in-out .1s sliderpop forwards;
    }
    #soundIcon1 {
        animation: .5s ease-in-out .2s sliderpop forwards;
    }
    #soundIcon2 {
        animation: .5s ease-in-out .3s sliderpop forwards;
    }
    #soundIcon3 {
        animation: .5s ease-in-out .4s sliderpop forwards;
    }
    #soundIcon4 {
        animation: .5s ease-in-out .5s sliderpop forwards;
    }
}

@keyframes slidein {
    from { width: 30px; }
    to   { width: 200px; }
}

@keyframes sliderpop {
    from { opacity: 0; margin-top: -30px; }
    to   { opacity: 1; margin-top: 0; }
}