.rollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;

    .rollDice-container {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    button {
        align-self: center;
        width: 15em;
        padding: 1.5em;
        font-size: 1em;
        border: 0px;
        border-radius: 10px;
        color: white;
        background-color: orchid;
        margin-top: 3em;
        
        &:hover {
            background-color: darkslateblue;
            cursor: pointer ;
        }
    }
}