.gameStory {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;

    .box {
        margin-bottom: 20px;
    }

    .button {
        display: flex;
        
    }
}
