.gameHeaderHudInventory {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  height: 55px;
  width: 500px;

  .backpack {
    height: 40px;
    width: 40px;
    cursor: url('../../img/ui/knight-cursor-select.png'), auto;

    &:hover {
        transform: scale(1.2);
      }
    }

  .backpackClose {
    background: linear-gradient(90deg, rgba(215,99,110,1) 0%, rgba(236,167,105,1) 20%, rgba(236,167,105,1) 80%, rgba(215,99,110,1) 100%);
    animation: .1s linear closeBackpack forwards;
  }

  .backpackContent {
    background: linear-gradient(90deg, rgba(215,99,110,1) 0%, rgba(236,167,105,1) 20%, rgba(236,167,105,1) 80%, rgba(215,99,110,1) 100%);
    animation: .5s linear openBackpack forwards;
    display: flex;
    align-items: center;

    .imgContainer {
      position: relative;
      width: 50px;
      z-index: 200;
      
      .invImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        max-height: 35px;
        animation: .5s linear .1s itemShow forwards;
        opacity: 0;
        cursor: url('../../img/ui/knight-cursor-select.png'), auto;
      }

      .itemDesc {
        position: absolute;
        bottom: 0;
        transform: translateY(60px);
        z-index: 200000000000000000;
        padding: 5px;
        text-align: center;
        font-size: .9rem;
        background: whitesmoke;
        border: solid #ffcdab;
        white-space: nowrap;
        opacity: 0;
      }

      .invImgContainer:hover {
        transform: scale(1.2);

        +.itemDesc {
          opacity: 1;
        }
      }
    }

  }
  .inventoryParchmentRight {
    margin-top: -5px;
    margin-left: -20px;
    z-index: 1;
  }
}

@keyframes openBackpack {
  from { width: 0; height: 50px; }
  to { height: 50px; border: 1px solid #ffcdab; }
}

@keyframes closeBackpack {
  from { height: 50px; border: 1px solid #ffcdab; }
  to { width: 0; height: 50px; }
}

@keyframes itemShow {
  from {opacity: 0}
  to {opacity: 1}
}