.gameStoryParchment {
  width: 100%;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  // margin-top: 20%;
  
  img {
    height: 300px;
  }

  .parchmentLeft {
    margin-right: -52px;
    z-index: 1;
  }
  
  .parchmentRight {
    margin-left: -52px;
    z-index: 1;
  }
  
  .text {
    height: 270px;
    width: inherit;
    background: rgb(215, 99, 110);
    background: linear-gradient(90deg, rgba(215,99,110,1) 0%, rgba(236,167,105,1) 20%, rgba(236,167,105,1) 80%, rgba(215,99,110,1) 100%);
    margin-top: 30px;
    border: 2px solid #ffcdab;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    font-family: 'Jim Nightshade', cursive;
    overflow-x: hidden;

    &[animation="true"] {
      animation: openParchment 2s ease-in-out;
    }

    p {
      position: absolute;
      font-size: 24px;
      width:calc(77.5vw - 104px);
      max-width: 800px;
      padding: 8px 65px;
      margin-left: 50%;
      transform: translateX(-50%);
      max-height: 250px;
      overflow-y: scroll;
      box-sizing: border-box;
      scrollbar-width: thin;
      scrollbar-color: rgb(215, 99, 110)  rgba(0,0,0,0) ;

      &::-webkit-scrollbar {
        width: 4px;
      }
    
      &::-webkit-scrollbar-track {
        background: none;
      }
    
      &::-webkit-scrollbar-thumb {
        background: rgb(215, 99, 110);
      }
    
      &::-webkit-scrollbar-thumb {
        &:hover {
          background: rgb(236, 167, 105);
    
        }
     }
    }
  } 
}

@keyframes openParchment {
    from {width: 104px;}
    to {width: inherit;}
}
