.gameStoryButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 75px;
  gap: 20px;

  button {
    animation: buttons 0.5s ease-in-out;
  }
}

@keyframes buttons {
    from {opacity: 0;}
    to {opacity: 1;}
}
